<%- include('../partials/header') %>
<%- include('../partials/userPlayers') %>

    <h1>REGISTERED PLAYERS</h1>

    <!-- Sort players -->

<table id="player-list">
    <thead>
        <tr>
        <th>Name</a></th>
        <th>Email</th>
        <th>Average</th>
        </tr>
    </thead>
    <tbody>
        <% players.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0)); reverse = true; %>
        <% for(let i=0; i < players.length; i++) { %>
            <tr class="row">
                <td><a href="/players/<%= players[i]._id %>"><%= players[i].name %></a></td>
                <td><%= players[i].email %></td>
                <td class="center"><%= players[i].avg %></td>
                <% if (user) { %>
                <td>
                <form action="/players/<%= players[i]._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
                </td>
                <% } %>
            </tr>
        <% }; %> 
    </tbody>
    </table>
<br><br>
<%- include('../partials/footer') %>