<%- include('../partials/header') %>
<section class="show-page">
<h1>List o' Players</h1>

<table id="player-list">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Average</th>
        </tr>
    </thead>
    <tbody>
        <% players.forEach(function(p) { %>
            <tr>
                <td><%= p.name %></td>
                <td><%= p.email %></td>
                <td><%= p.avg %></td>
                <td>
                    <% if (user) { %>
                    <form action="/players/<%= p._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                    <% } %>
                </td>
            </tr>
        <% }); %> 
    </tbody>
    </table>
</section>
<%- include('../partials/footer') %>