<%- include('../partials/header') %>

<h1>List o' Players</h1>

<table id="player-list">
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Average</th>
        <th>Contact</th>
        <th>Captain</th>
        </tr>
    </thead>
    <tbody>
        <% players.forEach(function(p) { %>
            <tr>
                <td><%= p.name %></td>
                <td><%= p.email %></td>
                <td><%= p.avg %></td>
                <td><% if (p.contact === true) { %> Yes <% } else { %>No<% } %></td>
                <td><% if (p.captain === true) { %> Yes <% } else { %>No<% } %></td>
            </tr>
        <% }); %> 
    </tbody>
    </table>

<%- include('../partials/footer') %>