<%- include('../partials/header') %>

<section class="show-page">
<table>
    <thead>
        <tr>
        <th>Team Name</th>
        <th>Contact</th>
        <th>Contact Email</th>
        <th>Captain</th>
        <th>Captain Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>   
        <td><%= team.teamName %></td>
        <td><%= team.contactName %></td>
        <td><%= team.contactEmail %></td>
        <td><%= team.captainName %></td>
        <td><%= team.captainEmail %></td>
        </tr>
        <% if (user) { %>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td></td>
            <td>
            <form action="/teams/<%= team.id %>/edit"
                class="edit-form" method="GET">
                <button type="submit">EDIT TEAM</button>
            </form>
            </td>
            <td></td>
            <td>
            <form action="/teams/<%= team.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">DELETE TEAM</button>
            </form>
            </td>
                <td></td>
            </tr>
    </tbody>
    </table>
    <br>
    <br>
    <h2>Add a Player</h2>
    <% if (team.players.length > 0) { %>
        <p>Please first ensure that the Player is not in the dropdown
            <select>
              <% team.players.forEach(function(p) { %>
                <option><%= p.name %></option>
              <% }) %>
            </select>
        </p>
    <% } %>
    <form id="add-player-form" action="/players" method="POST">
      <label>Name:</label>
      <input type="text" name="name"><br>
      <label>Average:</label>
      <input type="number" name="avg"><br><br>
      <input type="submit" value="Add Player">
    </form>
    <% }; %> 
</section>

<%- include('../partials/footer') %>