<%- include('../partials/header') %>

<section class="show-page">
    <h2>TEAM DETAILS</h2>
<table>
    <thead>
        <tr>
        <th>Team Name</th>
        <th>Contact</th>
        <th>Contact Email</th>
        <th>Captain</th>
        <th>Captain Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>   
        <td><%= team.teamName %></td>
        <td><%= team.contactName %></td>
        <td><%= team.contactEmail %></td>
        <td><%= team.captainName %></td>
        <td><%= team.captainEmail %></td>
        </tr>
    </tbody>
</table>

<%- include('../partials/userTeam') %>

<!-- Display all of the Players on the team -->
<% if (team.players.length) { %>
    <h2>Players</h2>
    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Average</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0; i<players.length; i++) { %>
            <tr> 
                <td><%= players[i].name %></td>
                <td><%= players[i].email %></td>
                <td><%= players[i].avg %></td>
                <td>
                    <% if (user) { %>
                    <form action="/players/<%= players[i]._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                    <% } %>
                </td>
            </tr>
        <% }; %> 
    </tbody>
    </table>
<% } %>






</section>

<%- include('../partials/footer') %>