<%- include('../partials/header') %>

<section class="show-page">
    <h2>TEAMS</h2>
<table>
    <thead>
        <tr>
        <th>Team Name</th>
        <th>Contact</th>
        <th>Contact Email</th>
        <th>Captain</th>
        <th>Captain Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>   
        <td><%= team.teamName %></td>
        <td><%= team.contactName %></td>
        <td><%= team.contactEmail %></td>
        <td><%= team.captainName %></td>
        <td><%= team.captainEmail %></td>
        </tr>
    <% if (user) { %>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td></td>
            <td>
            <form action="/teams/<%= team.id %>/edit"
                class="edit-form" method="GET">
                <button type="submit">EDIT TEAM</button>
            </form>
            </td>
            <form id="add-per-to-team" action="/teams/<%= team._id %>/players" method="POST">
                <select name="playerId">
                <%- players.map(p=>
                    `<option value="${p._id}">${p.name}</option>`
                    ).join('') %>
                </select>
                <button type="submit">Add to Team</button>
            </form>
            <td>
            <form action="/players/new"
                class="add-form" method="GET">
                <button type="submit">ADD A PLAYER</button>
            </form>
            </td>
            <td>
            <form action="/teams/<%= team.id %>?_method=DELETE"
                class="delete-form" method="POST">
                <button type="submit">DELETE TEAM</button>
            </form>
            </td>
                <td></td>
            </tr>
    </tbody>
    </table>
    <% }; %> 


<!-- Display all of the Players on the team -->
<% if (team.players.length) { %>
    <h2>Players</h2>
    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Average</th>
        </tr>
    </thead>
    <tbody>
        <% team.players.forEach(function(p) { %>
            <tr>
                <td><%= p.name %></td>
                <td><%= p.email %></td>
                <td><%= p.avg %></td>
                <td>
                    <% if (user) { %>
                    <form action="/players/<%= p._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                    <% } %>
                </td>
            </tr>
        <% }); %> 
    </tbody>
    </table>
<% } %>






</section>

<%- include('../partials/footer') %>