<%- include('../partials/header') %>
<%- include('../partials/userIndex') %>

<h1>List o' Leagues</h1>

<table id="list">
    <thead>
        <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Day of Week</th>
        <th>Time of Week</th>
        <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <% league.sort((a,b) => (a.startDate > b.startDate) ? 1 : ((b.startDate > a.startDate) ? -1 : 0)); %>
        <% league.forEach(function(l) { %>
            <tr class="row">
                <td><a href="/leagues/<%= l._id %>"><%= l.leagueName %></a></td>
                <td><%= l.startDate.toLocaleDateString()  %></td>
                <td><%= l.dayOfWeek %></td>
                <td><%= l.timeOfWeek %></td>
                <td><%= l.duration %> weeks</td>
            </tr>
        <% }); %> 
    </tbody>
    </table>
<br><br>
<%- include('../partials/footer') %>