<%- include('../partials/header') %>

<h1>List o' Leagues</h1>

<table id="list">
    <thead>
        <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Day of Week</th>
        <th>Time of Week</th>
        <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <% league.forEach(function(l) { %>
            <tr>
                <td><%= l.leagueName %></td>
                <td><%= l.startDate.toLocaleDateString()  %></td>
                <td><%= l.dayOfWeek %></td>
                <td><%= l.timeOfWeek %></td>
                <td><%= l.duration %> weeks</td>
                <td><a href="/leagues/<%= l._id %>">
                        DETAILS
                </a></td>
            </tr>
        <% }); %> 
    </tbody>
    </table>

<%- include('../partials/footer') %>