<%- include('../partials/header') %>
<%- include('../partials/userLeagues') %>

<!-- Display the individual league's details page -->

<section class="show-page">
    <h2>League Information</h2>
    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Day of Week</th>
        <th>Time of Week</th>
        <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><%= league.leagueName %></td>
        <td><%= league.startDate.toLocaleDateString()  %></td>
        <td><%= league.dayOfWeek %></td>
        <td><%= league.timeOfWeek %></td>
        <td><%= league.duration %> weeks</td>
        </tr>
    </tbody>
    </table>

<!-- Display all of the teams -->
<% if (league.teams.length) { %>
    <h2>Teams</h2>
    <table>
    <thead>
        <tr>
        <th>Team Name</th>
        <th>Contact</th>
        <th>Contact Email</th>
        <th>Captain</th>
        <th>Captain Email</th>
        </tr>
    </thead>
    <tbody>
        <% league.teams.forEach(function(t) { %>
            <tr>
                <td><%= t.teamName %></td>
                <td><%= t.contactName %></td>
                <td><%= t.contactEmail %></td>
                <td><%= t.captainName %></td>
                <td><%= t.captainEmail %></td>
                <td><a href="/teams/<%= t._id %>">DETAILS</a></td>
                <td>
                    <% if (user) { %>
                    <form action="/teams/<%= t._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                    <% } %>
                </td>
            </tr>
        <% }); %> 
    </tbody>
    </table>
<% } %>

</section>

<%- include('../partials/footer') %>