<%- include('../partials/header') %>

<!-- Display the individual league's details page -->

<section class="show-page">
    <h2><%= league.leagueName %> Details</h2>
    <table>
    <thead>
        <tr>
        <th></th>
        <th>Start Date</th>
        <th>Day of Week</th>
        <th>Time of Week</th>
        <th>Duration</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
        <td><%= league.startDate.toLocaleDateString()  %></td>
        <td><%= league.dayOfWeek %></td>
        <td><%= league.timeOfWeek %></td>
        <td><%= league.duration %> weeks</td>
        <td></td>
        </tr>
    </tbody>
    </table>
    
<%- include('../partials/userLeagues') %>
<!-- Display all of the teams -->
<% if (league.teams.length) { %>
    <h2><%= league.leagueName %> Teams</h2>
    <table>
    <thead>
        <tr>
        <th>Team Name</th>
        <th>Contact</th>
        <th>Contact Email</th>
        <th>Captain</th>
        <th>Captain Email</th>
        </tr>
    </thead>
    <tbody>
        <% league.teams.forEach(function(t) { %>
            <tr class="row">
                <td><a href="/teams/<%= t._id %>"><%= t.teamName %></a></td>
                <td><%= t.contactName %></td>
                <td><%= t.contactEmail %></td>
                <td><%= t.captainName %></td>
                <td><%= t.captainEmail %></td>
            </tr>
        <% }); %> 
    </tbody>
    </table>
    <br><br><br>
<% } %>

</section>

<%- include('../partials/footer') %>