<%- include('../partials/header') %>

<!-- Display the individual league's details page -->

  <section id="show-page">
    <div>Name: </div>
    <div>
      <%= league.leagueName %>
    </div>
    <div>Start Date: </div>
    <div>
      <%= league.startDate.toLocaleDateString() %>
    </div>
    <div>Day of Week: </div>
    <div>
      <%= league.dayOfWeek %>
    </div>
    <div>Time of Week: </div>
    <div>
      <%= league.timeOfWeek%>
    </div>
    <div>Duration:</div>
    <div>
      <%= league.duration%> weeks
    </div>
    <div></div>
    <div></div>
    <% if (user) { %>
    <form action="/leagues/<%= league.id %>/edit"
        class="edit-form" method="GET">
        <button type="submit">EDIT</button>
    </form>
    <form action="/leagues/<%= league.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">DELETE</button>
    </form>
    <% }; %> 
  </section>

            <%- include('../partials/footer') %>