<%- include('../partials/header') %>

<!-- Display the individual league's details page -->

<section class="show-page">

    <table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Day of Week</th>
        <th>Time of Week</th>
        <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><%= league.leagueName %></td>
        <td><%= league.startDate.toLocaleDateString()  %></td>
        <td><%= league.dayOfWeek %></td>
        <td><%= league.timeOfWeek %></td>
        <td><%= league.duration %> weeks</td>
        </tr>
            <% if (user) { %>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td></td>
                <td>
                <form action="/leagues/<%= league.id %>/edit"
                    class="edit-form" method="GET">
                    <button type="submit">EDIT LEAGUE</button>
                </form>
                </td>
                    <td>
                    </td>
                <td>
                <form action="/leagues/<%= league.id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">DELETE LEAGUE</button>
                </form>
                </td>
                    <td></td>
                </tr>
            <% }; %> 
    </tbody>
    </table>

<!-- Add a player -->

<% if (user) { %>
    <br><br>
    <h2>Teams</h2>
    <form id="add-team-form" method="POST" action="/leagues/<%= league._id %>/teams">
      <label>Team Name:</label>
      <input type="Text" name="teamName" required></input><br>
      <label>Contact Name:</label>
      <input type="Text" name="contactName" required></input><br>
      <label>Contact Email:</label>
      <input type="Text" name="contactEmail" required></input><br>
      <label>Captain Name:</label>
      <input type="Text" name="captainName" required></input><br>
      <label>Captain Email:</label>
      <input type="Text" name="captainEmail" required></input><br><br>
      <input type="submit" value="Add Team">
    </form>
<% } %>


<!-- Display all of the teams -->

<% if (league.teams.length) { %>
    <br><br>
    <table>
    <thead>
        <tr>
        <th>Team Name</th>
        <th>Contact</th>
        <th>Contact Email</th>
        <th>Captain</th>
        <th>Captain Email</th>
        </tr>
    </thead><br><br>
    <tbody>
        <% league.teams.forEach(function(t) { %>
            <tr>
                <td><%= t.teamName %></td>
                <td><%= t.contactName %></td>
                <td><%= t.contactEmail %></td>
                <td><%= t.captainName %></td>
                <td><%= t.captainEmail %></td>
                <td><a href="/teams/<%= t._id %>">DETAILS</a></td>
                <td>
                    <% if (user) { %>
                    <form action="/teams/<%= t._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                    </form>
                    <% } %>
                </td>
            </tr>
        <% }); %> 
    </tbody>
    </table>
<% } %>

</section>

<%- include('../partials/footer') %>